/* UNIVERSE */

footer {
	position: relative;
	height: 60px;
	bottom: 0;
	width: 100%;
}

/* HOME */
.home-search {
	position: absolute;
	z-index: 100;
	padding: 20px !important;
}

.home-form {
	margin-left: 15%;
	margin-right: 15%;
}

.home-card.card {
	background-color: transparent;
	border: none;
}

.container:before {
	content: none !important;
}

.home-search-btn {
	width: 100px;
	font-size: 1.5em;
}


body {
	background: white !important;
}

.header-global {
	background: url("homebg.jpg");
	background-size: cover;
}

.feat-image {
	width: 250px;
    height: 250px;
    object-fit: cover;
}

/* results */
.results-row {
	flex-direction: row;
	margin-bottom: 1.5em;
	min-height: 250px;

	/* Additional Styles */
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.125);
	border-radius: 7px;
	padding: 1em;
}

.results-parent-container {
	min-height: 100vh;
}

.results-title {
	font-weight: bolder;
}

.results-container {
	display: flex;
	align-items: center;
	justify-content: center
}

.results-image {
	max-width: 250px;
	max-height: 250px;
}

/* LOGIN */
.login-form {
	padding-right: 30%;
	padding-left: 30%;
}

/* HISTORY */
.history-badge {
	font-size: 100%;
}

/* EXPLORE */

#popoto-graph:fullscreen {
	width: 100%;
	height: 100%;
}

#popoto-graph:-webkit-full-screen {
	width: 100%;
	height: 100%;
}

#popoto-graph:-moz-full-screen {
	width: 100%;
	height: 100%;
}

#popoto-graph:-ms-fullscreen {
	width: 100%;
	height: 100%;
}

.sub-heading {
	font-weight: 500;
	font-size: 1.5em;
}

.section {
	padding: 1em 0;
}

/* Course Styling */
.hero-wrapper {
	background: #00B4DB;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0083B0, #00B4DB);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 300px;
	display: flex;
	flex-direction: column;
	margin: 0 0 1em;
	justify-content: center;
}

.hero-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.hero-wrapper--user {
	background: #FDC830;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F37335, #FDC830);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F37335, #FDC830);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.course-title {
	color: white;
	font-size: 36px;
	font-weight: 800;
	margin: 0.5em 0;
}

.course-title-sub {
	color: white;
	font-weight: 500;
}

.course-details {
	min-height: 50vh;
	font-size: 16px;
}

.course-row {
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.125);
	border-radius: 7px;
	padding: 1em;
	margin-bottom: 1em;
}

/* Tag styles */
.tag-container {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background: #ddd;
	font-size: 12px;
	color: black;
	padding: 0.3em;
	border-radius: 3px;
	min-width: fit-content;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.prerequisite-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.prerequisite {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.125);
	border-radius: 7px;
	padding: 1em;
	margin-bottom: 1em;
}

.prerequisite>h1 {
	font-size: 14px;
	font-weight: 600;
}

.prerequisite>span {
	font-size: 12px;
}

.prerequisite-container>img {
	align-self: center;
	margin-bottom: 1em;
}

.prereq-img {
	color: red;
}

/* ERROR */ 
.error {
	background: url("error.jpg") !important;
	background-size: cover !important
}

.jumbotron {
	background: none;
}
